<!-- <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&display=swap" rel="stylesheet">-->
<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset="utf-8">
    <title>SharuX - About</title>

    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">

    <!-- LIBS -->


    <!-- SHIT -->
    <link rel="shortcut icon" href="/assets/favicon.png" />

    <!-- CSS -->
    <link rel="stylesheet" href="/assets/css/default.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/about.css" type="text/css">

    <!-- META - todo: add more -->
    <meta name="theme-color" content="#00ff00">
    <meta property="og:title" content="SharuX - About">
    <meta name="twitter:title" content="SharuX - About">
</head>

<body>

    <%- include('./includes/navbar'); %>

    <!--<div class="title">
        <h1 class="blueneon">SharuX - Feature-Rich ShareX uploader<h1>
    </div>-->


    <div class="main">
        <% faq.forEach(e => { %>
            <h1 class="question neon"><%- e.question %></h1>
            <h2 class="answer neon"><%- e.answer %></h2>
        <% }); %>
    </div>

    <%- include('./includes/footer'); %>

</body>

</html>