<!-- CSS -->
<link rel="stylesheet" href="/assets/css/navbar.css" type="text/css">

<!-- FONTS -->
<link href="https://fonts.googleapis.com/css2?family=Spartan&display=swap" rel="stylesheet">

<div class="navbar">
    <img src="/assets/favicon.png"></img>
    <a href="/">Home</a>
    <a href="https://github.com/Roki100/SharuX">GitHub</a>
    <a href="/about"> About</a>
    <a class="right" href="/signup">Sign Up</a>
    <a class="right" href="/login">Log In</a>
    <!-- <ul>
        <li><a href="/">Home</a></li>
        <li><a href="">News</a></li>
        <li><a href="contact.asp">Contact</a></li>
        <li><a href="about.asp">About</a></li>
      </ul>     -->
</div>